:root {
    --sl-font: 'IBM Plex Sans', ui-sans-serif, sans-serif;
    --sl-font-mono: 'IBM Plex Mono', ui-monospace, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    --sl-font: 'IBM Plex Mono', ui-monospace, monospace;

}