:root {
    --sl-font: 'IBM Plex Sans', ui-sans-serif, sans-serif;
    --sl-font-mono: 'IBM Plex Mono', ui-monospace, monospace;
    --sl-color-gray-1: hsl(220, 9%, 94%);
    --sl-color-gray-2: hsl(216, 7%, 71%);
    --sl-color-gray-3: hsl(219, 6%, 44%);
    --sl-color-gray-4: hsl(213, 8%, 28%);
    --sl-color-gray-5: hsl(214, 7%, 19%);
    --sl-color-gray-6: hsl(225, 6%, 14%);
    --sl-color-black: hsl(240, 6%, 7%);
    --sl-hue-orange: 26;
    --sl-hue-blue: 191;
    --sl-color-accent-high: hsl(191, 100%, 39%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    --sl-font: 'IBM Plex Mono', ui-monospace, monospace;

}